.imgTravaux {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(158, 158, 159, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 3rem;
}

.presentation {
margin : 2rem;
}

.testimonials-list {
    background: rgba(180, 179, 179, 0.25);
    box-shadow: 0 8px 32px 0 rgba(158, 158, 159, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}

.list {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(158, 158, 159, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin:2rem;
}

.list > li{
margin : 1rem;
}

.devis {
    margin-left: 3rem;
}

.form {
    margin-top: 3rem;
    padding-top: 3rem;
}

.caption-text{
    padding-top: 1rem;
}



